.secondBar{
    display: flex;
    color: #333;
    background-color: red;
   height: 80px;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.eShop{
    font-weight: bolder;
    padding-left: 100px;
    padding-right: 600px;
    font-size: 25px;
}

.searchContainer{
    position: relative;
   
}

.searchBar{
    padding: 10px 40px 10px 10px;
    border: 1px solid;
    border-radius: 20px;
}

.searchIcon{
    position: absolute;
    right: 10px;
    top: 30%;
}

.cart{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.user{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}